body
{
    text-align: center;
    font-family: "Arial";
<<<<<<< HEAD
    color: blue;
=======
    color: yellow;
>>>>>>> cabecera
    text-decoration:red;
}
#container{
    text-align: justify;
}
.div{
    color: black;
}